# Ignorar arquivos .env
.env

# Ignorar arquivos de compilação e logs
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar diretórios específicos do ambiente virtual
venv/
venv-test/
env/
env.test/
uploads/

# Ignorar arquivos e pastas de backup
backups/

# Ignorar o arquivo SQLite (se você estiver usando SQLite para o desenvolvimento local)
*.db

#Ignorar configurações de VS Code
.vscode/

# Ignorar cache do pip
pip-wheel-metadata/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de cobertura de teste
.coverage
coverage.xml
*.cover
nosetests.xml

# Ignorar imagens e arquivos
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico

# Ignorar arquivos do Claude AI
.claude/
logs/
.jsonl

# Ignorar arquivos do Qodo AI
.qodo/

# Ignorar diretórios de migrações do Flask-Migrate
migrations/

# Ignorar diretório de instância do Flask
instance/